@model IEnumerable<AdminProductos.Models.Categoria>

@{
    ViewBag.Title = "ListaCategorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListaCategorias</h2>

<p>
    @Html.ActionLink("Create New", "CrearCategoria")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detalle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <th>
        @Html.DisplayFor(modelItem => item.Id)
    </th>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Detalle)
    </td>
    <td>
        @Html.ActionLink("Editar", "EditarCategoria", new { id = item.Id }) |
        @Html.ActionLink("Eliminar", "EliminarCategoria", new { id = item.Id })
    </td>
</tr>
}

</table>
