@model AdminProductos.Models.Producto

@{
    ViewBag.Title = "Eliminar Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Producto</h2>

<h3>Seguro que quiere eliminar producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Categoria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la lista", "ListaProductos")
        </div>
    }
</div>
